body, html{

  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
/*#container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}*/
 #canvasGame{
    background:url(../img/bandeira2.jpg);
    background-size: cover;
    z-index: -1;
    position: absolute;

  }
.warning{
  margin-left: 20%;
  padding-left: 10%;
  padding-right: 10%;
  color: #4F8A10;
  background-color: #DFF2BF;

  position: absolute;
}
