* {
  cursor: default;
}

body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: 'Press Start 2P', cursive;
}
canvas{
  position: relative;
}
/*#container{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: auto;
}*/

.container-fluid {
  padding: 0;
}

#canvasGame{
  background:url(../img/bandeira2.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;

}
.warning, .warning-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.warning-container {
  width: 1000px;
  height: 60px;
  flex-direction: column;
  position: absolute;
  margin-left: 200px;
}

.warning{
  height: 100%;y
  width: 80%;y
  width: 800px;y
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #FFF;
  background-color: #000341;
  position: relative;
  border: 6px solid #002146;
  border-top-color: transparent;

}

.player-UI {
  padding: 0 10px;
  margin: 0 6px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.wind-direction {
  padding: 0 10px;
  margin: 0 6px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.player-img {
  width: 42px;
  height: 42px;
  border-radius: 10000px;
  background-color: #FFF;
}

#player1-image {
  background-image: url("../img/icons/lula.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#player2-image {
  background-image: url("../img/icons/trump.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.diamond {
  width: 50px;
  height: 0;
  position: relative;
}

.diamond::after, .diamond::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 0;
}

.diamond::before {
  top: -15px;
  border-bottom: solid 5px #2196f3;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.diamond::after {
  width: 0;
  top: -10px;
  border-top: solid 25px #2196f3;
  border-left: solid 17px transparent;
  border-right: solid 17px transparent;
}

.hide {
  display: hidden !important;
}

.lifeLost::before  {
  border-bottom-color: #DDD !important;
}

.lifeLost::after {
  border-top-color: #DDD !important;
}

.player-active {
  border-right: 2px solid #FFF !important;
  border-left: 2px solid #FFF !important;
  background-color: #264b75 !important;
}

#wind, .wind-direction {
  height: 100%;
  width: 48px;
}

#wind {
  background-image: url('../img/wind.png');
  background-size: contain;
}

.wind-direction {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
