body, html{

  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: 'Press Start 2P', cursive;
}
canvas{
    position: relative;
}
/*#container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}*/
 #canvasGame{
    background:url(../img/bandeira2.jpg);
    background-size: cover;
    z-index: -1;
    position: absolute;
  }
